
body{
    background-color: rgb(243, 242, 242);
}

        /* Header style */

.nav-head{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    align-items: center;
    max-width: 1160px;
    padding-left: 100px;
    margin-bottom: 20px;
}
.btn-sign{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;
    padding: 5px 10px;

}

/* Banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 50px;
    width: 1080px;
    height: 400px;
    margin: 0 auto;
}

.banner-title{
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.banner-description{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 50px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.btn-primary{
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 10px 20px;
border: none;
}

/* pillars style */
.pillars-title{
    text-align: left;
    margin-left: 80px;
    font-family: Fira Sans;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
}
.pillars-items{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    text-align: left;
    margin-left: 50px;
    margin-right: 70px;
}
.pillars-item{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 60px;
    
}

/* vision of future styles */
.vision-container-title{
    margin-left: 60px;
    width: 1140px;
}
.vision-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.future-items{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    margin-left: 50px;
    margin-right: 30px;
    
}
.future-item{
    width: 410px;
    height: 300px;
    padding: 20px;
    margin: 20px;

}

.item-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}
.item-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.item-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.future-item-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.future-item-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.btn-01{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background: rgb(84, 144, 245);
    color: white;
}
.btn-02{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background: rgb(9, 161, 92);
    color: white;
}
.btn-03{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background: rgb(255, 194, 57);
    color: white;
}

.quetation{
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
width: 1230px;
height: 200px;
padding: 20px;
margin-left: 60px;
margin-right: 50px;
background-image: url('../assets/quote-bg.png');
background-repeat: no-repeat;
}

/* news box styles */
.recent-news-header{
    margin-left: 50px;
}
.news-header-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;}
.news-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.news-image{
    border-radius: 24px;
    background: url('../assets/satelite.png');
    position: static;
    width: 408px;
    height: 306px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 32px;
    margin-left: 0px;

}
.news-box{
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    width: 1180px;
    margin-left: 50px;
    padding: 40px;
    align-items: center;

}
.box-content-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;}

.box-content-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
}
.news-box-content{
    margin-bottom: 20px;
}
/* second box */
.news-image-2{
    border-radius: 24px;
    background: url('../assets/satelite.png');
    position: static;
    width: 408px;
    height: 306px;
    flex:none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
    margin-left: 0px;}

    .news-box-2{
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    width: 1180px;
    margin-left: 50px;
    padding: 40px;
    align-items: center;
    margin-top: 20px;
    }

    /* donate styles */
    .donate-head{
        text-align: center;

    }

    .donate-title{
        color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
    }
    .donate-description{
        color: rgba(14, 14, 14, 0.7);
        font-family: Fira Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
}

.donate-head{
    width: 1180px;
    margin: 0 auto;
}

.donate-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    width: 700px;
    margin-left: 250px;
}
.taka{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    

    
}