
body{
    background-color: rgb(243, 242, 242);
}

        /* Header style */

.nav-head{
    display: flex;
    justify-content: space-between;
    font-family: Fira Sans;
    align-items: center;
    max-width: 1160px;
    padding-left: 100px;
    margin-bottom: 20px;
}
.btn-sign{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;
    padding: 5px 10px;

}

/* Banner style */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 10px;
    padding: 50px;
    width: 1080px;
    height: 400px;
    margin: 0 auto;
}

.banner-title{
color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.banner-description{
color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 50px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.btn-primary{
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(0, 106, 80);
padding: 10px 20px;
border: none;
}

/* pillars style */
.pillars-title{
    text-align: left;
    margin-left: 80px;
    font-family: Fira Sans;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
}
.pillars-items{
    display: flex;
    justify-content: space-around;
    font-family: Fira Sans;
    text-align: left;
    margin-left: 50px;
    margin-right: 70px;
}
.pillars-item{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 60px;
    
}
